
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dc-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo img {
  height: 60px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  transition: color 0.3s;
}

.main-nav a:hover,
.main-nav a.active {
  color: #0077ff;
  border-bottom: 3px solid #0077ff;
  padding-bottom: 5px;
  height: 100%;
}

/* main  */

.black-main {
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-size: 24px;
  font-weight: bold;
}


.blue-main {
  background-color: #008CFF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px 20px;
}

.img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.icons img {
  height: 40px;
  margin-bottom: 10px;
}
